<?xml version="1.0" encoding="UTF-8"?>

<atv>	  
	<body>	
		<scroller id="com.sample.movie-shelf">	      
			<items>
				<shelf id="shelf_1" columnCount="2">	 
					<sections>
						<shelfSection>	    
<%- body %>

</shelfSection>	  
					</sections>
				</shelf>

			</items>	    
		</scroller>	 
	</body>	
</atv>
